# Copy to .env.docker for Docker Compose
# cp .env.docker-sample .env.docker

HTTP_PORT=3000
ENV=production

AWS_REGION=us-east-1
AWS_S3_BUCKET=my-bucket
AWS_ACCESS_KEY_ID=my-access-key-id
AWS_SECRET_ACCESS_KEY=my-secret-access-key

DEFAULT_STORAGE_VENDOR=s3

WRITER_DB_HOST=db
WRITER_DB_PORT=5432
WRITER_DB_USER=postgres
WRITER_DB_PASSWORD=postgres
WRITER_DB_NAME=postgres

READER_DB_HOST=db
READER_DB_PORT=5432
READER_DB_USER=postgres
READER_DB_PASSWORD=postgres
READER_DB_NAME=postgres

METRICS_ENABLED=true
METRICS_PATH=/metrics
SERVICE_NAME=commcare
LOG_LEVEL=info
